<nav class="header">
  <div class="left-section-nav">
    <h2 class="label"><%= renderLabel %></h2>
  </div>
  <div class="right-section-nav"><%- dynamicAnchor %><%- dynamicAnchor2 %></div>
</nav>
