<nav class="nav">
  <div class="left-section-nav">
    <img class="logo" src="/logo.png" />
  </div>
  <div class="right-section-nav">
    <div class="container">
      <button class="nav-btn">Region</button>
      <div class="dropdown-container">
        <a href="#">SEU</a>
      </div>
    </div>
    <div class="container">
      <button class="nav-btn">Site</button>
      <div class="dropdown-container">
        <a href="#">BGY1</a>
      </div>
    </div>
    <div class="container">
      <button class="nav-btn">Year</button>
      <div class="dropdown-container">
        <a href="#">2024</a>
      </div>
    </div>

    <div class="container">
      <button class="nav-btn">Week</button>
      <div class="dropdown-container">
        <% sourceFolders.forEach((folder)=>{ %>
        <a href="/support/<%= folder %>/id"><%= folder %></a>
        <% })%>
      </div>
    </div>
  </div>
</nav>
