<nav class="sidebar">
  <a href="/home" id="home">
    <div class="sidebar-link">
      <img src="/explore.svg" />
      <div>Home</div>
    </div>
  </a>
  <a href="/support/<%= currentFolder %>/id" id="supportSheet">
    <div class="sidebar-link">
      <img src="/explore.svg" />
      <div>Support Sheet</div>
    </div>
  </a>
  <a href="/compliance/<%= currentFolder %>/port" id="portableCompliance">
    <div class="sidebar-link">
      <img src="/explore.svg" />
      <div>Portable Compliance</div>
    </div>
  </a>
  <a href="/source/<%= currentFolder %>/eam" id="sourceData">
    <div class="sidebar-link">
      <img src="/explore.svg" />
      <div>View source</div>
    </div>
  </a>
</nav>
